@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
</style>

<div class="text-center">
    <h1 class="display-4">All Messages</h1>
</div>
<div class="container">
    @foreach (var m in Model.Messages)
    {
        <div class="row">
            <div class="col-3">
                <a href="/message/@m.Id" class="message-subject">@m.Subject</a>
            </div>
            <div class="col-3">
                @m.CreatedOn
            </div>
            <div class="col-2">
                <a data-id="@m.Id" class="deleteLink text-reset opacity-50" href="#"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    }
    <a href="addmessage" class="btn btn-primary mt-3">Add Message</a>
    @Html.AntiForgeryToken()
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            $('.deleteLink').click(function (e) {
                e.preventDefault();
                let id = $(this).data('id');


                let formData = new FormData();
                formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());

                fetch(`/message/${id}?handler=Delete`, {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else if (response.ok) {
                        location.reload();
                    } else {
                        alert('Failed to delete the message.');
                    }
                })
                .catch(() => {
                    alert('Failed to delete the message.');
                });                });
        });
    </script>
}