@page "{id:int}"
@model TestContainers.Web.Pages.MessageModel
@{
}

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Message</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>@Model.Message.Subject</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Model.Message.Content
        </div>
    </div>
</div>
